# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# my adds
**/*.vcproj.*
**/*.bak
**/*~
**/#*#
**/Debug
**/Release
**/*.pdb
**/*.dll
**/*.obj
**/*.exe
**/*.suo
**/*.ncb
**/*.ilk
*.ncb
*.suo